{% extends 'base.html' %}
{% load static %}

{% block body_class %}no-padding{% endblock %}
{% block content %}
<div class="privacy">
  <div class="container">
    <div class="logo">
      <a href="{% url 'home' %}">
        <img src="{% static 'img/logo_inverse_globe.svg' %}">
      </a>
    </div>
    <h1>개인정보</h1>
    <h2 class="hero-1">여러분의 정보가 더 안전하게 보호되는 글로벌스누를 만들겠습니다.</h2>
    <div class="hero-2 features">
      <div class="nutshell col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <p>여러 웹사이트를 통해 새고 있는 것만 같은 내 개인정보… 글로벌스누 팀도 느껴 온 불안감입니다. 적어도 글로벌스누만큼은 우리 모두가 안심하고 사용할 수 있는 서비스가 되도록 하는 것이 저희의 중요한 목표입니다. 이를 위해 여러분의 개인정보를 <b>1. 최소 한도로 수집</b>하고, <b>2. 안전한 관리 기준을 적용</b>하겠습니다.</p>
      </div>
      <div class="row">
        <div class="col-sm-4 https">
          <img src="{% static 'img/https.png' %}">
          <h3>HTTP + Secure</h3>
          <p>글로벌스누의 주소창을 보시면 위와 같이 자물쇠가 걸려 있는 것을 확인하실 수 있습니다. 이는 여러분이 글로벌스누 서버와 주고받는 모든 통신 내역이 암호화된 채로 전달되고 있음을 의미합니다. HTTPS 통신 규약은 학교, 카페를 비롯한 공공장소에서 개인정보가 탈취될 염려를 줄이기 위한 최소한의 장치입니다. 앞으로는 사이트를 이용할 때 자물쇠 마크를 꼭 기억해 주세요. 이는 개인정보를 취급하는 모든 사이트가 지켜 나가야 할 규칙입니다!</p>
        </div>
        <div class="col-sm-4 password">
          <img src="{% static 'img/pbkdf2.svg' %}">
          <h3>비밀번호 암호화</h3>
          <p>글로벌스누 서버에 전달된 여러분의 비밀번호는 (당연하게도) 강력한 암호화를 거친 뒤에 저장됩니다. 암호화는 <a href="https://dx.doi.org/10.6028/NIST.SP.800-132" target="_blank">미국 국립표준기술연구소</a>에서 권장하고 있는 PBKDF2 알고리즘을 2만 4천 번 반복 적용하여 이루어지며, 이후에는 서버 관리자도 비밀번호 원문을 열람할 수 없습니다. 여러분의 걱정을 덜어 드리기 위해 작성자의 암호화된 비밀번호를 알려 드리겠습니다. 저의 비밀번호는 bk7N<wbr>9fdr<wbr>VEfb<wbr>$IUi<wbr>T+kl<wbr>s8la<wbr>l6d8<wbr>ttlO<wbr>vXkV<wbr>Ssv4<wbr>qh0s<wbr>B8Mb<wbr>DptF<wbr>BOrA<wbr>입니다.</p>
        </div>
        <div class="col-sm-4 security">
          <img src="{% static 'img/security.svg' %}">
          <h3>공개 범위 설정</h3>
          <p>여러분의 개인정보 혹은 활동 내역이 다른 사람에게 어떻게 보여질지는 여러분이 직접 관리할 수 있어야 합니다. 아직까지 글로벌스누는 이메일 주소와 닉네임 단 두 가지 정보만을 수집하고 있고, 소셜 기능도 없지만, 추후에 어떤 기능이 추가되더라도 사용자가 공개 범위를 세밀하게 설정할 수 있도록 하겠습니다.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="policy">
      <h2>개인정보 처리방침</h2>
      <p>팀 글로벌스누(이하 ‘글로벌스누’)는 개인정보 보호법 제30조에 따라 회원들의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리지침을 수립·공개합니다.</p>
      <h3>1. 수집하는 개인정보</h3>
      <h4>가. 회원이 제출하는 정보</h4>
      <p>글로벌스누는 회원 가입 시 다음과 같은 필수 항목을 수집합니다.</p>
      <ul>
        <li>이메일 주소</li>
        <li>닉네임</li>
        <li>비밀번호</li>
      </ul>
      <p>글로벌스누는 주민등록번호, 운전면허번호, 주소 정보를 수집하지 않습니다.</p>
      <h4>나. 자동으로 수집되는 정보</h4>
      <p>회원이 서비스를 이용하는 과정에서 다음의 정보들이 자동으로 수집되거나, 생성되어 수집될 수 있습니다.</p>
      <ul>
        <li>서버 로그 : IP 주소, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 검색어, 검색어에 대한 시간 정보 등</li>
        <li>기기 수준의 이벤트 정보 : 크래시 등의 이벤트 정보</li>
        <li>세션 정보 : 페이지 응답 시간, 다운로드 에러, 특정 페이지에의 방문 시간 길이, 특정 페이지에서 교환된 정보</li>
      </ul>
      <h3>2. 개인정보 수집 방법</h3>
      <p>회원 가입 및 서비스 이용 과정에서 회원이 개인정보 수집에 대해 동의하고 직접 정보를 입력하는 경우 글로벌스누는 해당 개인정보를 수집할 수 있습니다. 또한 기기 정보와 같은 생성 정보는 웹 또는 모바일 어플리케이션 이용 과정에서 자동으로 생성되어 수집될 수 있습니다.</p>
      <h3>3. 개인정보 수집 목적</h3>
      <ul>
        <li>서비스 제공에 관한 계약 이행 및 유료 서비스 제공에 따른 비용 정산</li>
        <li>글로벌스누 서비스 제공, 컨텐츠 제공, 맞춤 서비스 제공</li>
        <li>회원관리 : 본인확인, 개인식별, 회원의 부정 이용방지, 이용약관 위반 행위 방지, 가입의사 확인, 가입 및 가입횟수 제한, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달</li>
        <li>신규 서비스 개발 및 마케팅·광고에의 활용 : 신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스 이용에 대한 통계</li>
      </ul>
      <h3>4. 개인정보의 공유 및 제공</h3>
      <p>글로벌스누는 회원의 개인정보를 3장에서 고지한 범위 내에서 사용하며, 회원의 사전 동의 없이 외부에 공개하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.</p>
      <ul>
        <li>회원이 사전에 공개에 동의한 경우</li>
        <li>법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우</li>
      </ul>
      <h3>5. 개인정보의 보유 및 이용 기간</h3>
      <p>회원의 개인정보는 원칙적으로 개인정보의 수집 및 이용 목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.</p>
      <ol>
        <li>부정 이용 기록<br>보존 이유 : 부정 이용 방지<br>보존 기간 : 2년</li>
        <li>탈퇴 기록<br>보존 이유 : 일정 기간 재가입 방지<br>보존 기간 : 2년</li>
      </ol>
      <p>상법, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령의 규정에 의하여 보존할 필요가 있는 경우 글로벌스누는 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. 이 경우 회사는 보관하는 정보를 그 보관의 목적으로만 이용하며 보존기간은 아래와 같습니다.</p>
      <ol>
        <li>계약 또는 청약철회 등에 관한 기록<br>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>보존 기간 : 5년</li>
        <li>대금결제 및 재화 등의 공급에 관한 기록<br>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>보존 기간 : 5년</li>
        <li>소비자의 불만 또는 분쟁처리에 관한 기록<br>보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법률<br>보존 기간 : 3년</li>
        <li>본인 확인에 관한 기록<br>보존 이유 : 정보통신망 이용촉진 및 정보보호 등에 관한 법률<br>보존 기간 : 6개월</li>
        <li>웹사이트 방문 기록<br>보존 이유 : 통신비밀보호법<br>보존 기간 : 3개월</li>
      </ol>
      <h3>6. 개인정보 파기 절차 및 방법</h3>
      <p>회원의 개인정보는 원칙적으로 개인정보의 수집 및 이용 목적이 달성되면 지체 없이 파기합니다. 개인정보 파기 절차 및 방법은 다음과 같습니다.</p>
      <ul>
        <li>회원이 회원 가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 데이터베이스로 옮겨져 6장에 따라 일정 기간 저장된 후 파기됩니다.</li>
        <li>전자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</li>
      </ul>
      <h3>7. 회원의 권리와 그 행사 방법</h3>
      <ul>
        <li>회원은 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 탈퇴를 요청할 수 있습니다.</li>
        <li>회원의 개인정보 조회, 수정을 위해서는 ‘개인정보 변경’을, 가입 해지를 위해서는 ‘회원탈퇴’를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 만약 위의 방법으로 열람, 정정 또는 탈퇴가 기술적으로 어려울 경우, 개인정보 보호책임자에게 서면 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</li>
        <li>글로벌스누는 회원의 요청에 의해 해지 또는 삭제된 개인정보를 6장에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없습니다.</li>
      </ul>
      <h3>8. 쿠키에 관한 사항</h3>
      <p>회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 회원의 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’를 사용합니다. 쿠키는 웹사이트를 운영하는데 이용되는 서버가 회원의 브라우저에게 보내는 아주 작은 텍스트 파일로, 회원의 기기에 저장됩니다.</p>
      <ul>
        <li>쿠키의 사용 목적<br>회원들의 이용형태, 검색어, 보안접속 여부, 회원 규모 등을 파악하여 회원에게 최적화된 정보 제공을 위하여 사용합니다.</li>
        <li>쿠키의 허용 및 거부<br>회원들은 쿠키 저장에 대한 선택권을 가지고 있습니다. 회원은 웹 브라우저 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다. 단, 쿠키의 저장을 거부할 경우 서비스가 정상적으로 작동하지 않을 수 있습니다.</li>
      </ul>
      <h3>9. 개인정보의 안전성 확보 조치</h3>
      <p>글로벌스누는 회원들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적·관리적 대책을 강구하고 있습니다.</p>
      <ul>
        <li>비밀번호 암호화<br>회원 아이디의 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.</li>
        <li>해킹 대책<br>글로벌스누는 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 최선을 다하고 있습니다. 개인정보의 훼손에 대비해서 자료를 수시로 백업하고 있고, 최신 백신 프로그램을 이용하여 회원들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다. 그리고 침입 차단 시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다. 단, 회원 본인의 부주의로 아이디, 비밀번호 등 개인정보가 유출되거나 글로벌스누가 직접 수집하지 않는 개인정보의 유출로 발생한 문제에 대해 글로벌스누는 일체의 책임을 지지 않습니다.</li>
        <li>취급 직원 최소화 및 교육<br>글로벌스누의 개인정보관련 취급 직원은 담당자에 한정시키고 있고, 이를 위한 별도의 보안장치를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보 처리방침의 준수를 항상 강조하고 있습니다.</li>
      </ul>
      <h3>10. 개인정보 보호책임자</h3>
      <p>글로벌스누는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 회원의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다. 회원는 회사의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자에게 문의하실 수 있습니다. 글로벌스누는 회원의 문의에 대해 지체없이 답변 및 처리해 드릴 것입니다.</p>
      <ul>
        <li>개인정보 보호책임자<br>이름 : 김찬우<br>직책 : 개발자<br>연락처 : <a href="mailto:admin@globalsnu.com">admin@globalsnu.com</a></li>
      </ul>
      <h3>11. 개인정보 처리방침 변경에 대한 고지의 의무</h3>
      <p>개인정보 처리방침의 내용에 대한 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일 전부터 글로벌스누 웹사이트를 통해 고지할 것입니다.</p>
      <h4 class="date">이 개인정보 처리방침은 2016년 10월 18일부터 적용됩니다.</h4>
    </div>
  </div>
</div>
{% endblock %}

{% block navbar %}{% include 'includes/navbar_public.html' %}{% endblock %}
