{% extends 'base.html' %}

{% block body_class %}no-padding-with-nav{% endblock %}
{% block content %}
<div id="manual" class="mainland">
  <div class="main-question">
    <h2>교환학생을<br>준비하나요?</h2>
  </div>
  <ul class="manual-nav">
    <a href="{% url 'manual' %}" class="undecorate">
      <li class="first">출발 전</li>
    </a>
    <a class="undecorate">
      <li class="second selected">도착 후</li>
    </a>
  </ul>
  <div class="container">
    <div class="toc">
      <ol>
        <li>
          <a href="#inside" class="uncolor">학교 안</a>
          <br>
          <ul>
            <li><a href="#tip-i1" class="uncolor">수강신청</a></li>
            <li><a href="#tip-i2" class="uncolor">수업의 전반적 수준, 로드, 학점</a></li>
            <li><a href="#tip-i3" class="uncolor">학교 사전교육, 어학 프로그램</a></li>
            <li><a href="#tip-i4" class="uncolor">동아리</a></li>
            <li><a href="#tip-i5" class="uncolor">학내 축제</a></li>
            <li><a href="#tip-i6" class="uncolor">커뮤니티</a></li>
          </ul>
        </li>
        <li>
          <a href="#outside" class="uncolor">학교 밖</a>
          <br>
          <ul>
            <li><a href="#tip-o1" class="uncolor">통학</a></li>
            <li><a href="#tip-o2" class="uncolor">학내 식당</a></li>
            <li><a href="#tip-o3" class="uncolor">식료품, 주방용품</a></li>
            <li><a href="#tip-o4" class="uncolor">한국 음식점</a></li>
            <li><a href="#tip-o5" class="uncolor">날씨</a></li>
            <li><a href="#tip-o6" class="uncolor">상비약</a></li>
            <li><a href="#tip-o7" class="uncolor">병원</a></li>
            <li><a href="#tip-o8" class="uncolor">와이파이</a></li>
            <li><a href="#tip-o9" class="uncolor">유심</a></li>
            <li><a href="#tip-o10" class="uncolor">은행 계좌</a></li>
            <li><a href="#tip-o11" class="uncolor">피해야 할 행동</a></li>
            <li><a href="#tip-o12" class="uncolor">위험 지역</a></li>
          </ul>
        </li>
      </ol>
    </div>
    <div id="inside" class="block">
      <h3>학교 안</h3>
      <h4>수강신청</h4>
      <p id="tip-i1" class="thing thing-left show">수강신청 방법은 각 학교마다 매우 다릅니다. 간단한 학교들은 과마다 가이드라인을 작성해서 주기도 하고, 복잡한 학교는 교환학생 신청서 작성 시에 희망 수업을 적어서 제출하다가 실패할 경우 포털 아이디를 받아 우리 학교와 같은 방식으로 수강편람을 보고 수강신청을 합니다.</p>
      <h4>수업의 전반적 수준, 로드, 학점</h4>
      <p id="tip-i2" class="thing thing-left">수업의 전반적인 수준도 학교마다 매우 다릅니다. 비교적 쉬운 교양 수업 위주로 듣고, 주변 지역 및 국가의 여행을 할 수도 있고, 전공 수업을 많이 들으면서 열심히 공부할 수도 있습니다.</p>
      <h4>학교 사전교육, 어학 프로그램</h4>
      <p id="tip-i3" class="thing thing-left">짧은 오티 시간이지만 학교에서 제공하는 사전교육에서 배울 수 있는 것이 많습니다. 현지어 수업이나 문화체험의 기회, 주의사항 안내, 학교 투어 등 다양한 종류의 사전교육 프로그램을 찾아보세요.</p>
      <h4>동아리</h4>
      <p id="tip-i4" class="thing thing-left">동아리 활동은 현지 학생들을 사귈 수 있는 중요한 루트입니다. 다양한 동아리 활동으로 다양한 사람들과 다양한 경험을 즐겨 보세요.</p>
      <h4>학내 축제</h4>
      <p id="tip-i5" class="thing thing-left">학교 축제에서는 다양한 사람들을 사귈 수 있으며, 여러 테마 아래에서 다양한 활동과 공연들도 즐길 수 있습니다. 자신이 공부하고 있는 학교만의 독특한 축제 분위기를 즐겨 보세요.</p>
      <h4>커뮤니티</h4>
      <p id="tip-i6" class="thing thing-left">학교생활정보 및 수업정보를 조금 더 쉽게 얻으려면 교류학생이 있으면 더욱 좋겠죠? 이러한 교류학생은 학교에서 현지 학생으로 배정해주는 경우가 많은데요. 교류학생을 통해 더 많은 사람들도 만날 수 있고, 언어 실력도 향상시킬 수 있습니다.</p>
    </div>
    <div id="outside" class="block">
      <h3>학교 밖</h3>
      <h4>통학</h4>
      <p id="tip-o1" class="thing thing-right show">기숙사 등의 주거지를 구할 때 가장 중요한 요소입니다. 걸어서 등교할 수도 있지만, 외국에서는 자전거를 많이 이용하기도 합니다. 자전거를 대여하는 것이 힘들 경우에는 지하철이나 버스를 이용하면 됩니다.</p>
      <h4>학내 식당</h4>
      <p id="tip-o2" class="thing thing-right">학생식당은 학교별로 편차가 심해요! 어떤 곳은 저렴하고, 식단도 다양하며, 학생식당도 많은 반면에 어떤 곳은 학생식당이 너무 별로여서 매 끼니마다 학교 주변으로 나가서 밥을 먹기도 합니다. 교내에서의 한 번, 한 번의 식사가 소중하신 분이라면, 학교별 수기를 잘 읽어보시고 학식이 다양하고 알찬 곳을 선택해 보세요.</p>
      <h4>식료품, 주방용품</h4>
      <p id="tip-o3" class="thing thing-right">글로벌스누에서는 학교 주변에서 식료품을 구할 수 있는 마트를 다녀오신 분들이 직접 알려주십니다. 매일 음식을 사먹는 것이 질리신 분들은 식료품을 구매해서 공용키친 등에서 밥을 해먹을 수 있을거에요. 주방용품은 주변의 대형마트 등에서 구할 수 있는데, 값이 싸지만 품질이 약간 떨어지는 것부터 가격은 비싸지만 퀄리티가 스고이한 용품까지 다양한 베리에이션이 존재합니다. 다양한 곳을 직접 돌아다녀 보고 구매할 수도 있고 글로벌스누의 도움을 받아보실 수도 있어요.</p>
      <h4>한국 음식점</h4>
      <p id="tip-o4" class="thing thing-right">가지고 간 신라면, 불닭볶음면, 김치가 다 떨어졌을 때. 나는 현지 음식만 먹고도 잘 살 수 있을거라 생각했지만 갑자기 한국 음식이 미친듯이 그리워질 때 필요한 바로 그곳입니다. 글로벌스누에서는 학교 주변의 다양한 한식 전문의 식료품 가게와 음식점을 알려주실 거에요.</p>
      <h4>날씨</h4>
      <p id="tip-o5" class="thing thing-right">현지 날씨는 정말 다양한 변수가 있어요. 원래는 고온건조한 곳이라고 해도 갑자기 고온다습한 날씨에 당황할 수도 있고, 따뜻한 곳이라고 해서 여름이불만 가지고 갔다가 밀어닥치는 한파에 덜덜 떨수도 있겠죠. 날씨상태를 미리 정확하게 알아보고 가는게 굉장히 중요해요. 또 이럴 때는 전기장판이, 민소매티가 없어서 슬픈 것보다는 우선 다 챙겨가 보는 게 이득일 수도 있습니다!</p>
      <h4>상비약</h4>
      <p id="tip-o6" class="thing thing-right">학교 내부에 보건소가 있을 수 있고, 건물에 보건실이 있을 수도 있어요. 그렇지만 기숙사에 가서 갑자기 배가 아파올 때, 머리가 지끈거릴 때는 보건실보다는 내 옆의 약이 필요하겠죠. 주변의 약국 정보 등을 미리 알아놓는 것도 좋고 상비약을 챙겨놓는 것도 좋습니다.</p>
      <h4>병원</h4>
      <p id="tip-o7" class="thing thing-right">보험을 미리 들어 놓았다면 병원에 가서 치료를 받는 것도 부담이 없어질 거에요. 몇몇 대학은 해당 대학교 병원에서 진료를 무료로 받을 수도 있답니다.</p>
      <h4>와이파이</h4>
      <p id="tip-o8" class="thing thing-right">한국만큼 와이파이가 어느 곳에서나 잘 되는 나라는 극히 드문 듯싶습니다. 개인 방에서는 잘 되다가 로비에서는 안 터지는 곳도 있고, 로비에서만 잘 되는 곳도 있는 듯 천지 차이라고 할 수 있을 것 같습니다.</p>
      <h4>유심</h4>
      <p id="tip-o9" class="thing thing-right">각 나라마다 유명한 통신사들이 있습니다. 통신사마다 비교를 해서 단기 유심을 사면 되는데요. 유심을 사게 되면 그 나라의 번호가 주어집니다. 한 달에 사용할 수 있는 통화량과 문자, 데이터량을 잘 고려해서 합리적인 상품을 선택하면 됩니다. 1개월, 2개월, 6개월 등 기간도 선택할 수 있습니다.</p>
      <h4>은행 계좌</h4>
      <p id="tip-o10" class="thing thing-right">보통 외국에서는 은행 계좌를 만드는 것은 시간이 매우 오래 걸립니다. 차라리 해외에서 사용이 가능한 은행의 통장을 한국에서 미리 만들고 체크카드를 가지고 나가는 것이 낫습니다. 카드를 만들 때 수수료가 얼마 정도 부과되는지 확인을 하고 가장 낮은 수수료를 떼가는 카드로 만드는 방법이 있습니다. 또 수수료가 일정 금액 이상이 되면 더이상 나가지 않는 경우에는 한도 내에서 최대한 많은 돈을 뽑는 것이 나을 수도 있습니다.</p>
      <h4>피해야 할 행동</h4>
      <p id="tip-o11" class="thing thing-right">특정 문화권에서 금기시되거나 피해야 할 행동이 있다면 미리 익혀가는 편이 좋습니다. 수기를 읽어보면서 미리 내용을 익히거나 인터넷 검색 등을 통해 알아볼 수도 있습니다. 이렇게 익혀간다면 현지 친구를 사귈 때 발생할 수 있는 충돌상황 등을 미리 피할 수 있을 것 같습니다.</p>
      <h4>위험 지역</h4>
      <p id="tip-o12" class="thing thing-right">밤에도 아름다운 한국과는 달리 대부분의 나라들이 해가 지면 상점들이 문을 닫으며 돌아다니기 확실히 위험해질 수 있습니다. 모든 활동은 기왕이면 낮에 하는 쪽이 좋다고 보아집니다. 또 학교 주변에서도 특별히 위험하다고 생각되는 지역이 있을 수 있는데 불가피한 경우에는 여러 명과 무리로 가는 경우가 좋을 것 같습니다. 하지만 기왕이면 가는 것을 최대한 피하는 쪽이 안전하겠죠?</p>
    </div>
  </div>
</div>
{% endblock %}
