{% extends 'base.html' %}

{% block extra_css %}
<style>
.main.container {
  padding-top: 36px;
  padding-bottom: 36px;
  text-align: center;
  word-break: keep-all;
}
.main.container h2 {
  font-size: 1.25em;
  margin-top: 18px;
}
.main.container p {
  margin-top: 36px;
}
.bottom.container {
  text-align: center;
}
.bottom.container a {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 44px;
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
}
</style>
{% endblock %}
