{% extends 'base.html' %}
{% load static user_agents widget_tweaks %}

{% block extra_viewport %}{% if request|is_mobile %}, maximum-scale=1{% endif %}{% endblock %}

{% block body_class %}landing-body no-padding{% endblock %}

{% block warning %}{% include 'includes/ie_warning.html' %}{% endblock %}

{% block header %}<script>document.body.className += " loading";</script>{% endblock %}

{% block content %}
<div class="landing-wrapper login">
  <div class="blue-container">
    <div class="login-action-wrapper">
      <a href="{% url 'register' %}" class="login-register">JOIN</a>
      &nbsp;|&nbsp;
      <a href="{% url 'password_reset' %}" class="login-password">FIND PASSWORD</a>
    </div>
    <div class="login-form-wrapper">
      <form action="" method="post" class="login-form">{% csrf_token %}
        <div class="login-input-wrapper">
          {% render_field form.username placeholder="MYSNU EMAIL" required="true" type="email" %}
        </div>
        <div class="login-input-wrapper">
          {% render_field form.password placeholder="PASSWORD" required="true" %}
        </div>
        <button type="submit">SIGN IN</button>
        <div class="loader-login">
          <object data="{% static 'img/loader_login.svg' %}" type="image/svg+xml"></object>
          <object data="{% static 'img/login_failed.svg' %}" type="image/svg+xml"></object>
        </div>
      </form>
    </div>
    <a href="{% url 'home' %}" class="logo-wrapper register-login">
      <img src="{% static 'img/logo_inverse.svg' %}" alt="GlobalSNU">
    </a>
  </div>
  <div class="slogan-container">
    <div class="slogan-wrapper">
      <div class="slogan">STUDY ABROAD</div>
      <div class="slogan-next first">ÉTUDIER À L'ÉTRANGER</div>
      <div class="slogan-next second">海外へ</div>
      <div class="slogan-next third">YURTDIŞINDA EĞITIM</div>
      <div class="slogan fade hidden">해외에서 공부하세요</div>
    </div>
  </div>
  <div class="transparent-container">
    <a href="{% url 'about' %}"><img src="{% static 'img/logo.svg' %}" alt="GlobalSNU"></a>
  </div>
  <form action="{% url 'register' %}" method="post" class="register-form">{% csrf_token %}
    <div class="register-input-set">
      <div class="register-input-wrapper{% if register_form.email.errors %} has-error{% endif %}">
        {% render_field register_form.email placeholder="MYSNU EMAIL" %}
        {{ register_form.email.errors }}
      </div>
      <div class="register-input-wrapper{% if register_form.nickname.errors %} has-error{% endif %}">
        {% render_field register_form.nickname placeholder="NICKNAME" %}
        {{ register_form.nickname.errors }}
      </div>
      <div class="register-input-wrapper{% if register_form.password.errors %} has-error{% endif %}">
        {% render_field register_form.password placeholder="PASSWORD" minlength="8" %}
        {{ register_form.password.errors }}
      </div>
    </div>
    <div class="yellow-container">
      <button type="submit">JOIN</button>
      <div class="disclaimer">글로벌스누 <a href="{% url 'tos' %}" target="_blank">이용약관</a>과 <a href="{% url 'privacy' %}" target="_blank">개인정보정책</a>에 동의하셔야<br>가입을 계속하실 수 있습니다.</div>
    </div>
  </form>
</div>
<div class="loader">
  <object data="{% static 'img/loader.svg' %}" type="image/svg+xml"></object>
</div>
{% endblock %}

{% block extra_css %}
<style>
header, footer, .navbar {
  display: none;
}
</style>
{% endblock %}

{% block extra_js %}
<script>
var animating = false;

function loginReady() {
  $("body").removeClass("loading");
  if (!animating) {
    animating = true;
    setInterval(function() {
      if ($(".landing-wrapper").hasClass("login")) {
        var $first = $(".slogan-next.first"),
            $second = $(".slogan-next.second"),
            $third = $(".slogan-next.third"),
            $fade = $(".slogan.fade");
        $fade.removeClass("slogan fade hidden").addClass("slogan-next third");
        var $slogan = $(".slogan");
        $third.removeClass("third").addClass("second");
        $second.removeClass("second").addClass("first");
        $first.removeClass("slogan-next first").addClass("slogan");
        $slogan.addClass("fade");
      }
    }, 3600);
  }
}

$(function() {
  var $body = $("body"),
      $misc = $("header, footer, .navbar"),
      $wrapper = $(".landing-wrapper");

  setTimeout(function() {
    loginReady();
  }, 2000);

  if (window.location.search.indexOf("next") == -1) {
    $(".login-form").submit(function(e) {
      var $form = $(this);
      document.activeElement.blur();
      $form.find("input").blur();
      $form.addClass("pending");
      e.preventDefault();
      $.ajax({
        type: "POST",
        data: $form.serialize(),
        success: function(data) {
          var $home = $(data).filter("#home");
          if ($home.length) {
            $body.fadeOut(400, function() {
              $body.removeClass("landing-body")
                   .addClass("home-body");
              $wrapper.after($home)
                      .remove();
              $(".message-wrapper").remove();
              $home.show();
              $misc.show();
              $body.fadeIn(600);
              if ($("html").hasClass("full")) {
                setTimeout(function() {
                  $(".selector").removeClass("unmasked")
                                .addClass("masked");
                }, 60);
                $(".manual").addClass("manual-slide");
              }
              homeReady();
            });
          }
          else {
            setTimeout(function() {
              $form.removeClass("pending")
                   .addClass("failed");
              setTimeout(function() {
                $form.removeClass("failed");
              }, 1200);
            }, 600);
          }
        }
      });
    });
  }
});

window.onload = function() {
  loginReady();
};
</script>
{% endblock %}
