{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block extra_viewport %}{% if flavour == "mobile" %}, maximum-scale=1{% endif %}{% endblock %}

{% block body_class %}landing-body no-padding{% endblock %}
{% block content %}
<div class="landing-wrapper password">
  <form action="" method="post">{% csrf_token %}
    <div class="yellow-container">
      <a href="{% url 'home' %}"><img src="{% static 'img/logo_alternative.svg' %}" alt="GlobalSNU"></a>
      <div class="email-wrapper">
        <div class="email-label">
          <span style="font-weight: bold;">마이스누</span>
          <span>이메일</span>
        </div>
        <div class="{% if form.email.errors %}has-error{% endif %}">
          {% render_field form.email %}
        </div>
      </div>
    </div>
    <svg viewBox="0 0 440 154">
      <polygon points="0,0 440,0 220,154"></polygon>
    </svg>
    <div class="transparent-container">
      <button type="submit">
        <span style="font-weight: bold;">비밀번호 변경 메일</span>
        <span>전송</span>
      </button>
    </div>
  </form>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block navbar %}{% endblock %}
