{% extends 'base.html' %}
{% load static widget_tweaks %}

{% block body_class %}landing-body no-padding{% endblock %}
{% block content %}
<div class="landing-wrapper password transition">
  <form action="" method="post">{% csrf_token %}
    <div class="yellow-container">
      <a href="{% url 'home' %}"><img src="{% static 'img/logo_alternative.svg' %}" alt="GlobalSNU"></a>
      <div class="email-wrapper">
        <h4>비밀번호 재설정 이메일이 발송되었습니다.</h4>
      </div>
    </div>
    <svg viewBox="0 0 440 154">
      <polygon points="0,0 440,0 220,154"></polygon>
    </svg>
  </form>
</div>
{% endblock %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}
{% block navbar %}{% endblock %}
