{% extends 'base.html' %}
{% load user_agents wiki %}

{% block body_class %}no-padding-with-nav{% endblock %}
{% block content %}
<div class="page-wrapper plain mainland">
  <div class="container">
    <div class="general">
      <h1>{{ page.title }}</h1>
      {% if not request|is_mobile %}
      <div class="general-tools">
        <a href="{% url 'wiki:page_update' page.title_for_url %}" class="uncolor">편집</a>
        &nbsp;/&nbsp;
        <a href="{% url 'wiki:page_update' page.title_for_url %}" class="uncolor">토론</a>
        &nbsp;/&nbsp;
        <a href="{% url 'wiki:page_history' page.title_for_url %}" class="uncolor">역사</a>
      </div>
      {% endif %}
      <svg viewBox="0 0 24 24">
        <polygon points="0,24 24,0 24,24"></polygon>
      </svg>
      <hr>
    </div>
    <div class="detail row">
      <div class="content col-md-8">
        {% if page.content %}
        {{ page.content|markdown }}
        {% else %}
        <p>본문이 등록되지 않았습니다.</p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <div class="essay-wrapper">
          <h2>수기</h2>
          {% if page.essays %}
          <ul>
            {% for essay in page.essays.all %}
            <li class="essay{% if user in essay.likers.all %} liked{% endif %}">
              <a href="{{ essay.get_absolute_url }}" class="uncolor">{{ essay.title }}</a>
              <span class="icon"></span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if page.school.reports %}
          <ul>
            {% for report in page.school.reports.all %}
            <li class="essay oia">
              <a href="{{ report.get_absolute_url }}" target="_blank" class="uncolor">{{ report.title }}</a>
              <span class="icon"></span>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          <div class="post">
            <a href="{% url 'wiki:essay_create' page.title_for_url %}">등록하기</a>
          </div>
        </div>
      </div>
    </div>
    {% if request|is_mobile %}
    <div class="row">
      <div class="tools">
        <a href="{% url 'wiki:page_update' page.title_for_url %}" class="uncolor">편집</a>
        &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
        <a href="{% url 'wiki:page_update' page.title_for_url %}" class="uncolor">토론</a>
        &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
        <a href="{% url 'wiki:page_history' page.title_for_url %}" class="uncolor">역사</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
