{% extends 'base.html' %}
{% load wiki %}

{% block body_class %}no-padding-with-nav{% endblock %}
{% block content %}
<div class="page-wrapper plain mainland">
  <div class="container">
    <div class="general">
      <h1>{{ revision.title }}</h1>
      {% if flavour == "full" %}
      <div class="general-tools">
        #{{ revision.revision_number }}
        &nbsp;/&nbsp;
        <a href="{% url 'wiki:page_history' revision.page.title_for_url %}" class="uncolor">역사 돌아가기</a>
      </div>
      {% endif %}
      <svg viewBox="0 0 24 24">
        <polygon points="0,24 24,0 24,24"></polygon>
      </svg>
      <hr>
    </div>
    <div class="detail row">
      <div class="content col-md-8">
        {% if revision.content %}
        {{ revision.content|markdown }}
        {% else %}
        <p>본문이 등록되지 않았습니다.</p>
        {% endif %}
      </div>
      <div class="revision-nav col-md-4">
        <ul>
          {% if prev_prev %}
          <li class="lighter">
            <a href="{{ prev_prev.get_absolute_url }}" class="uncolor">
              #{{ prev_prev.revision_number }} {{ prev_prev.edit_summary }} / {{ prev_prev.editor_name }} / {{ prev_prev.edited|date:"n월 j일" }} {{ prev_prev.edited|time:"H:i" }}
            </a>
          </li>
          {% endif %}
          {% if prev %}
          <li class="light">
            <a href="{{ prev.get_absolute_url }}" class="uncolor">
              #{{ prev.revision_number }} {{ prev.edit_summary }} / {{ prev.editor_name }} / {{ prev.edited|date:"n월 j일" }} {{ prev.edited|time:"H:i" }}
            </a>
          </li>
          {% endif %}
          <li class="underline">#{{ revision.revision_number }} {{ revision.edit_summary }} / {{ revision.editor_name }} / {{ revision.edited|date:"n월 j일" }} {{ revision.edited|time:"H:i" }}</li>
          {% if next %}
          <li class="light">
            <a href="{{ next.get_absolute_url }}" class="uncolor">
              #{{ next.revision_number }} {{ next.edit_summary }} / {{ next.editor_name }} / {{ next.edited|date:"n월 j일" }} {{ next.edited|time:"H:i" }}
            </a>
          </li>
          {% endif %}
          {% if next_next %}
          <li class="lighter">
            <a href="{{ next_next.get_absolute_url }}" class="uncolor">
              #{{ next_next.revision_number }} {{ next_next.edit_summary }} / {{ next_next.editor_name }} / {{ next_next.edited|date:"n월 j일" }} {{ next_next.edited|time:"H:i" }}
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% if flavour != "full" %}
    <div class="row">
      <div class="tools">
        #{{ revision.revision_number }}
        &nbsp;/&nbsp;
        <a href="{% url 'wiki:page_history' revision.page.title_for_url %}" class="uncolor">역사 돌아가기</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
